header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $primary-color;
    padding: 1rem;

    .logo {
        font-size: 1.25rem;
        margin-bottom: 1rem;
    }

    .navbar {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%; 

        .nav-item {
            font-size: 0.875rem;
            padding: 0.75rem;
        }
    }

    .add-trip {
        font-size: 0.875rem;
        padding: 0.75rem 1rem;
    }
}

@media (min-width: 601px) {
    header {
        flex-direction: row;
        justify-content: space-between;
        padding: 1rem 2rem;
    }
}